/*base*/

body {
	min-width: 960px;

	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	background: #000000 url("../img/index-bgr.jpg") no-repeat center top;
	color: #ffffff;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

/*header*/

.main-header{
	margin-bottom: 60px;

	background: #000000;
	color: #ffffff; 
}

.main-navigation {
	width: 780px;
	float: left;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0px;
}

.main-navigation li {
	display: inline-block;

	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.main-navigation a {
	display: block;

	padding:25px 20px;
	text-decoration: none;
	color: #ffffff;
}

.main-navigation a:hover {
	background: #242424;
}


.user-block {
	max-width: 140px;
	float: right;
}

.login {
	position: relative;

	display: inline-block;
	vertical-align: top;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 50px;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}

.login:hover{
	background: #242424;
}

.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;

	width: 18px;
	height: 18px;
	background: transparent url("../img/icon-basket.png") no-repeat;
	opacity: 0.3;
}

.login:hover:before{
	opacity: 1;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.index-logo img {
	width: 368px;
	height: 204px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 80px;

	text-align: center;
}

.features-name {
	position: relative;

	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;

	font-size: 30px;
	line-height: 42px;
}

.features-item p {
	margin: 10px;
	margin-bottom: 0px;
}

.features-name::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;

	width: 20px;
	height: 20px;

	background: #ffffff;
	transform: rotate(45deg);
}

.features-item:last-child {
	margin-right: 0px;	
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;

	color: #000000;
	background: url("../img/column-delimiter.png") no-repeat center, 
	#f8f5f2 url("../img/content-gradient.jpg");
}

.index-content-tittle {
	margin: 0px;
	margin-bottom: 25px;
}

.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.news-preview {
	list-style: none;

	margin: 0;
	padding: 0;
	padding-right: 70px;
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	margin-bottom: 0px;
}

.news-preview time {
	text-transform: none;
	font-weight: 400;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 33px;
	margin-right: 16px;

	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "PT Sans Narrow", "Arial", sans-serif;


	background: #000000;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover {
	background: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background: #000000;
}

.gallery {
	position: relative;

	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0px;
	background: #e6e6e6;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-prev {
	left: 0;
}

.gallery-next {
	right: 0;
}

.btn-info {
	margin-top: 25px;
}

.appoinment-form input {
	width: 106px;
	padding: 7px 15px;
	
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;

	font-size: 12px;
	line-height: 24px;
 	font-family: "PT Sans Narrow", "Arial", sans-serif;
 	color: #000000;
 	text-transform: uppercase;	

	background: #f9f6f3;
	border: 2px solid #000000;
	outline: none; 
	
}

.appoinment-form input:nth-child(2n) {
	margin-right: 0;
}

.appoinment-form input:focus {
	border: 2px solid #663d15;
}

.appoinment-form .btn {
	clear: both;
	width: 100%
}


.index-content-left {
	float: left;
	width: 380px;
}

.index-content-right {
	float: right;
	width: 300px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

	background: #1f1f1f url("../img/footer-gradient.jpg");
	color: #ffffff;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
	float: left;
	width: 180px;
	text-align: center;
}

.footer-social p {
	margin: 0;
	margin-bottom: 15px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;

	font-size: 0;
	text-decoration: none;

	width: 43px;
	height: 43px;
	margin: 0 2px;
	margin-right: 5px;
	background: #000000 url("../img/socials-icons.png") no-repeat center;
	transition: 
	background-position 0.5s,
	background-color 0.5s;
}

.social-btn-vk {
	background-position: 0 0;
}

.social-btn-vk:hover {
	background-position: 0 -46px;
}

.social-btn-fb {
	background-position: -43px 0;
}

.social-btn-fb:hover {
	background-position: -47px -46px ;
}

.social-btn-inst {
	background-position: -86px 0;
}

.social-btn-inst:hover {
	background-position: -87px -46px ;
}

.footer-copyright {
	float: right;
	min-width: 140px; 
}

.footer-copyright p {
	margin: 0;
	text-align: center;
	margin-bottom: 15px;
}

.footer-copyright .btn {
	margin-right: 0;
}

.footer-copyright .btn:hover {
	color: #000000;
	background: #ffffff;
}