.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

.main-header{
	margin-bottom: 60px;
}

.main-navigation {
	width: 780px;
	float: left;
}

.user-block {
	width: 140px;
	float: right;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 80px;
}

.features-item:last-child {
	margin-right: 0px;	
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
}

.index-content-left {
	float: left;
	width: 380px;
}

.index-content-right {
	float: right;
	width: 300px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
}

.footer-copyright {
	float: right;
	width: 140px; 
}